body {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* Rectangler Componet Styles */
.rectangular-box {
  width: 400px;
  height: 210px;
  background-image: linear-gradient(to right, red, orange);
  border: 1px solid red;
  margin: 3px auto;
}
.unordered-list {
  text-align: center;
  list-style-type: none;
}

.area {
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
  text-transform: capitalize;
  line-height: 1.8;
}

.years {
  font-size: 4rem;
}

.uppercase-text {
  text-transform: uppercase;
}
.icon-style {
  /* background-color: orange; */
  color: orange;
  font-size: 2rem;
}

/* SearchForm styles */
h1,
::placeholder,
h3 {
  font-family: Roboto;
}
.inputSection {
  width: 290px;
  height: 50px;
  padding-left: 10px;
  font-size: 1rem;
  text-align: left;
  border-radius: 5px;
  border: 3px solid rgb(235, 61, 61);
  outline: none;
  margin-bottom: 5px;
  margin-right: 5px;
}
input[type='text']:focus {
  animation: mymove 5s infinite;
}
@keyframes mymove {
  50% {
    border-radius: 50px;
  }
}
.find-button {
  background-image: linear-gradient(
    to bottom,
    rgb(235, 114, 78),
    rgb(238, 174, 101)
  );
  color: white;
  font-size: 1rem;
  border-radius: 25px;
  width: 90px;
  height: 50px;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}
.find-button:hover {
  box-shadow: 2px 2px 3px 1px grey;
}

/* SOCIAL STUFF */
.social-container {
  background: #eee;
  padding: 10px;
  margin-top: 10px;
  height: 100px;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}

/* API link style */
.api {
  font-size: 0.7rem;
}
